@main_logged_out("CancerQuiz: Startseite") {
    <div class="container-main">
        <div class="row">
            <div class="col-xs-12">
                <h1>Herzlich Willkommen zum Cancer Quiz!</h1>

                <div>
                    <br>
                    <p>Diese Anwendung befasst sich mit der leider immer noch sehr gegenwärtigen Krankheit Krebs.</p>
                    <p>In den drei Quizrunden der Kategorien "Allgemeines", "Krebsarten" und "Krebsbehandlung und -forschung" <br> werden Dir spielerisch neue Einblicke vermittelt und Dein bestehendes Wissen getestet.</p>
                    <p>Je mehr Fragen Du richtig beantworten kannst, desto mehr Punkte bekommst Du. Außerdem hast Du die Möglichkeit, <br>Deine Punktzahlen durch gute Leistungen in einem jeweils anschließenden Minispiel sogar noch zu verbessern.</p>
                    <p>Tritt gegen Deine Freunde an, schreibe Ihnen Nachrichten und vergleiche Dein Können im Highscore <br>mit allen anderen Spielern, indem Du Dich mit Deinen Nutzerdaten <strong>
                        einloggst</strong>.</p>
                    <p>Du hast noch keinen Account? Dann <strong>registriere Dich</strong>
                        jetzt und werde vom Bufdi zum Professor!</p>
                    <p>Viel Erfolg!</p>

                    <p>
                        Ein kleiner Einblick<br>
                        <video width="450" height="253" poster="assets/media/video_thumbnail.png" controls>
                            <source src="assets/media/movie.mp4" type="video/mp4">
                            Dein Browser unterstützt das Videoformat leider nicht.
                        </video>
                    </p>

                    <br>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-offset-3 col-sm-3 col-lg-offset-4 col-lg-2">
                        <form action="/login">
                            <input type="submit" class="button-cancer-default width100" value="Einloggen">
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-lg-2">
                        <form action="/register">
                            <input type="submit" class="button-cancer-default width100" value="Registrieren">
                        </form>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
} {

}